/*CSS RESPONSIVE TO MOBILE*/

/*General CSS for the article*/

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div {
	padding: 20px;
	margin: 55px;
	align-content: center;

}


h1{
	color:black;
	font-family:Helvetica; 
	font-size:40px;
	font-style:normal;
	font-weight:bold;
	line-height:150%;
	letter-spacing:normal;
	text-align:center;
		}

h2{
	color:black;
	font-family: Helvetica;
	font-size:20px;
	font-style:normal;
	font-weight: normal;
	line-height:180%;
	letter-spacing:normal;
	text-align:center;
		}

h3{
	color:darkgrey;
	font-family: Helvetica;
	font-size:15px;
	font-style:normal;
	font-weight:normal;
	line-height:150%;
	letter-spacing:normal;
	text-align:center;
		}

article {
	font-family: Libre Baskerville;
	font-weight: lighter;
	font-size: 15px;
	text-justify: inter-word;
	font-weight:lighter;

}

figcaption {
	font-family: Helvetica, sans-serif;
	text-justify: inter-word;
	color:grey;
}

img {
	margin: auto;
	display: block;
	max-width: 100%;

}

.responsive {
	margin: auto;
	display: block;
	max-width: 100%
	
}

